
<div id="email-registration">
  <form method="POST" action="/contact" accept-charset="UTF-8" class="email-form">
    <input type="hidden" name="form_type" value="customer">
    <input type="hidden" name="utf8" value="✓">
    
    <label for="email">Enter your email:</label>
    <input type="email" name="email" id="email" required>
    
    <button type="submit">Register</button>
  </form>
</div>
